a {
  text-decoration: none;
  color: #116911;
}

ul {
  list-style-type: none;
  margin:0;
  padding:0;

}

body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
}

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo-menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: rgb(153, 216, 181);
  padding: 10px;
}

.logo {
  margin-right: auto;
  width: 200px;
  margin: 10px 0px;
}

#menu-btn {
  width: 30px;
  display: block;
}

@media screen and (min-width: 769px) {
  .main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    width: 100%;
    /* required width 100% as the main body is a flex box */
  }

  .main-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    background-color: white;
  }

  .logo-menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: unset;
  }

  .logo {
    margin-right: auto;
    max-width: 100%;
    width: unset;
  }

  #menu-btn {
    width: 30px;
    display: none;
  }

  .content-box {
    width: 30%;
  }

  
}

.nav-item {
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  font-family: "Roboto", sans-serif;
}

.nav-item:hover {
  color: darkblue;
}

.hero {
  color: white;
  /* background-color: green;
  padding: 10px 10px 10px 10px; */
  width: 100%;
}

.heropic {
  display: flex;
  background-image: url("images/hero_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 460px;
}

.heropic-text {
  display: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.75rem;
  backdrop-filter: blur(10px);
  /* flex-grow: 1;
  flex-basis: auto; */
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

}

.content-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border-width: 2px;
  border-color: #cccccc;
  border-style: solid;
  flex-grow: 1;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
}

.content-box:hover {
  border-color: green;
  border-width: 2px;
  
}

.content-box-img{
  align-items: center;
  text-align: center;
}

.content-box-text{
  text-align: left;
  margin: 10px;
}
.content-box-text a{
  font-size: 1.1rem;
}

.content-box-text a:hover{
  color: darkblue;
}

.heropic-text {
  font-family: "Roboto", sans-serif;
  font-size: 1.75rem;
  backdrop-filter: blur(10px);
  /* flex-grow: 1;
  flex-basis: auto; */
}

.main-footer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  background-color: #116911;
  color: white;
}
